body{
    overflow-y: true;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#main{
    width: 300px;
    height: 300px;
    box-align: left;
}

#our-mentors{
    position: relative;
    clear: both;
    margin: 0;
    background: whitesmoke;
    width: 100%;
}

#about-us{
    position: relative;
    clear: both;
    margin: 0;
    width: 100%;
}


#our-events, #our-trainers, .about{
    position: relative;
    clear: both;
    margin: 0;
    background: darkblue;
    width: 100%;
}

.mentors-card{
    display: inline-block;
    margin-bottom: 10px;
    width: 450px;
}

.trainers-card{
    display: inline-block;
    width:350px;
}

.card-image{
    margin-left: 25px;
    padding-top: 25px;
}

#footer{
    background-color: #2f2f2f;
}

a{
    color: white;
}

/* .container{
    border: 2px solid black;
} */

.timeline-card:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.timeline-container{
    min-height: 400px;
    position: relative;
    margin-top: 10px;
}

.timeline-card{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: absolute;
    margin-top: 20px;
    max-height: 100%;
    min-width: 50vw;
   left: 15%;
}

.timeline-line{
    background-image: linear-gradient(skyblue, darkblue);
    border-radius: 25px;
    height: 100%;
    position: absolute;
    left: 25px;;
    width: 5px;
}

.timeline-anchor{
    color: gray;
    position: absolute;
    top: -15px;
    left: 20px;
}

.timeline-anchor:hover{
    top: -20px;
    font-size: 24px;
    left: 15px;
}

.timeline-container-text{
    max-width: 500px;
    padding: 10px 10px 10px 10px;

}

#timeline-container{
    margin-top: -50px;
}