body{
    overflow-y: true;
}

#main{
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 18px;
    width: 300px;
    height: 300px;
}

#buttons{
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 0 10px 0 10px;
    text-align: center;
}

.events{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -50px;
    display: none;
    overflow-y: auto;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#about{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -50px;
    display: none;
    overflow-y: auto;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#contacts{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
    overflow-y: auto;
    width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#countdown{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 150px;
    overflow-y: auto;
    width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card{
    background-color: white;
    box-shadow: #f2f2f2;
}

.button{
    width: 150px;
}

.foot{
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 10px;
}


.card::-webkit-scrollbar {
    width: 5px;
  }
   
.card::-webkit-scrollbar-thumb {
    background: #ddd; 
  }
  
.card::-webkit-scrollbar-track {
    background: #666; 
  }

#about::-webkit-scrollbar {
    width: 5px;
  }
   
#about::-webkit-scrollbar-thumb {
    background: #ddd; 
  }
  
#about::-webkit-scrollbar-track {
    background: #666; 
  }

.notification{
    width: 200px;
}

.email:hover{
    color: blue;
}