body{
    overflow-y: true;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#main{
    width: 300px;
    height: 300px;
    box-align: left;
}

#our-mentors{
    position: relative;
    clear: both;
    margin: 0;
    background: whitesmoke;
    width: 100%;
}

#about-us{
    position: relative;
    clear: both;
    margin: 0;
    width: 100%;
}


#our-events, #our-trainers, .about{
    position: relative;
    clear: both;
    margin: 0;
    background: darkblue;
    width: 100%;
}

.mentors-card{
    display: inline-block;
    margin-bottom: 10px;
    width: 450px;
}

.trainers-card{
    display: inline-block;
    width:350px;
}

.card-image{
    margin-left: 25px;
    padding-top: 25px;
}

#footer{
    background-color: #2f2f2f;
}

a{
    color: white;
}
